<div class="container">
    <div class="row">
        <div style="margin-bottom: 20px;"><strong>From Event .</strong> We will learn using From Event how we create
            observable stream</div>
        <div class="card border-secondary mb-4 offset-md-1" style="max-width: 20rem;">
            <div class="card-header">Add Employee</div>
            <div class="card-body">
                <button #addBtn class="btn btn-primary"> Add</button>
            </div>
        </div>

        <div class="card border-secondary mb-4 offset-md-1" style="max-width: 20rem;">
            <div class="card-header">Employee Count</div>
            <div class="card-body">
                <ul id="elContainer">
                </ul>
            </div>
        </div>

        <div class="card border-secondary mb-4 offset-md-1" style="max-width: 20rem;">
            <div class="card-header">Employee Count</div>
            <div class="card-body">
                <ul id="elContainer2">
                </ul>
            </div>
        </div>
    </div>
</div>