<div class="container">
    <div class="row">
        <div class="card border-secondary mb-4 offset-md-1" style="max-width: 20rem;">
            <div class="card-header">Interval </div>
            <div class="card-body">
                <h2>{{obsMessage}}</h2>
            </div>
        </div>
        <div class="card border-secondary mb-4 offset-md-1" style="max-width: 20rem;">
            <div class="card-header">Interval Value Stream</div>
            <div class="card-body">
                <!-- we be using services where li will be created..see shared service -->
                <ul id="elContainer"> </ul>
            </div>
        </div>
    </div>
</div> 

<div class="container">
    <div class="row">
        <div class="card border-secondary mb-4 offset-md-1" style="max-width: 20rem;">
            <div class="card-header">Timer </div>
            <div class="card-body">
                <h2>{{obsMessageTimer}}</h2>
            </div>
        </div>
        <div class="card border-secondary mb-4 offset-md-1" style="max-width: 20rem;">
            <div class="card-header">Timer Value Stream</div>
            <div class="card-body">
                <!-- we be using services where li will be created..see shared service -->
                <ul id="elContainertimer"> </ul>
            </div>
        </div>
    </div>
</div> 