<a class="btn btn-primary" href="#" role="button">Back To Main Page</a>
<div class="container">
    <div class="row">
        <div class="alert alert-dismissible alert-success">
            <h4 class="alert-heading">ToArray Operator in RXJS</h4>
            <p> toArray() Operator -- Collects all source emissions and emits them as an array when the source completes.</p>
        </div>

        <div class="alert alert-dismissible alert-warning " style="border: solid 1px black;width: 40%;margin-left: 5%;">
            <h4 class="alert-heading">toArray()</h4>
        </div>
</div>