<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">Observable Vs Promises</a>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/promises">Promise</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="/observables">Observable</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>