<a class="btn btn-primary" href="componentinteraction" role="button">Back To Component Interaction Page</a>
<h1>Interaction-using-observable works!</h1>

<div class="container">
    <div class="card">
        <div class="card-body">
            <li>A <b>Behavior Subject</b> holds one value. When it is subscribed it emits
                the value immediately. A <b>Subject</b> doesn't hold a Value. In behavior subject
                subscriber will always get have value it may be initial value or last
                emitted value</li>
            <li>There are 3 variant of RXJS subject.BehaviorSubject, ReplaySubject and AsyncSubject</li>
        </div>
    </div>

    <div class="card" style="margin-top: 30px;">
        <div class="card-body">
            <app-component-a></app-component-a>
        </div>
    </div>
</div>

<div class="container ">
    <div class="card" style="margin-top: 30px;">
        <div class="card-body">
            <app-component-b></app-component-b>
        </div>
    </div>
</div>