<a class="btn btn-primary" href="#" role="button">Back To Main Page</a>
<div class="container">
    <div class="row">
        <h1>For Asynchronous task we use promise. Resolve or reject are the parameters</h1>
        <!-- <h1><strong>{{promiseVal}}</strong></h1> -->

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Example 1
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <iframe width="60%" height="300" src="//jsfiddle.net/pateba06/96o3du2a/2/embedded/js,result/dark/"
                        allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Example 2
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <iframe width="60%" height="600px" src="//jsfiddle.net/pateba06/96o3du2a/6/embedded/js/dark/"
                        allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>