<h1 class="obs-example"> Example of Communication between components using observable and Subject</h1>

<div class="container">
    <div class="row">
        <div class="comp1">
            <app-component-a></app-component-a>
        </div>
        <div class="comp2">
            <app-component-b></app-component-b>
        </div>
        <div class="comp3">
            <app-component-c></app-component-c>
        </div>
    </div>
</div>

<!-- Explanation -->
<br><br><br>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       Example screenshot attached
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <pre>
                <img src="../../../../assets/ObservableExample1service.JPG" alt="">
                <img src="../../../../assets/ObservableExample1componentA.JPG" alt="">
                <img src="../../../../assets/ObservableExample1ComponentB.JPG" alt="">
                <img src="../../../../assets/ObservableExample1ComponentC.JPG" alt="">   
                    </pre>
                </div>
            </div>
        </div>
  